# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
Debug
Release
x86
x64
Assembler/Debug
Assembler/Release
Assembler/x64
Assembler/x86

Disassembler/Debug
Disassembler/Release
Disassembler/x64
Disassembler/x86

CPU/Debug
CPU/Release
CPU/x64
CPU/x86

Debugger/Debug
Debugger/Release
Debugger/x64
Debugger/x86